@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.App {
  margin: 0 auto;
  padding: 1em 0;
  width: 60%;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* AllNotes */
.all-notes-div {
  padding-bottom: 5em;
}
.all-notes-div h1 {
  font-weight: 700;
  padding-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}
.all-notes-map-div h2 {
  color: rgb(107, 94, 94);
  font-style: italic;
  font-weight: 700;
  padding: .5em 0;
}
.all-notes-div p {
  color: #7e7e7e;
  font-weight: 400;
}

/* CreateNote */
.create-note-div h2 {
  padding: .5em 0;
}
.create-note-div form {
  width: 100%;
}
.create-note-div form label {
  font-weight: 400;
}
.create-note-div form input {
  border: none;
  border-bottom: 1px solid #000;
  margin: 1em 0;
  outline: none;
  width: 100%;
}
.create-note-div form button {
  background-color: rgb(127, 193, 255);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 1em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000;
  transition: .3s ease-in-out;
}
.create-note-div form button:hover {
  background-color: rgb(22, 138, 247);
}

/* Update note */
.update-note-div {
  padding-top: 0;
}
.update-note-div h2 {
  padding: .5em 0;
}
.update-note-div form {
  width: 100%;
}
.update-note-div form label {
  font-weight: 400;
}
.update-note-div form input {
  border: none;
  border-bottom: 1px solid #000;
  margin: 1em 0;
  outline: none;
  width: 100%;
}
.update-note-div form button {
  background-color: rgb(127, 193, 255);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 1em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000;
  transition: .3s ease-in-out;
}
.update-note-div form button:hover {
  background-color: rgb(22, 138, 247);
}